<div class="row">
    <div class="col-xs-12">
        <p>Add new server or blueprint</p>
        <label for="">Server Name</label>
        <!--<input type="text" class="form-control" [(ngModel)]="newServerName">-->
        <input type="text" class="form-control" #serverNameElement> <!-- This will use local reference -->
        <label for="">Server Content</label>
        <!--<input type="text" class="form-control" [(ngModel)]="newServerContent">-->
        <input type="text" class="form-control" #serverContentInput>  <!-- This will use ViewChild reference -->
        <br>
        <button class="btn btn-primary" (click)="onAddServer(serverNameElement)">Add Server</button>
        <button class="btn btn-primary" (click)="onAddBlueprint(serverNameElement)">Add Blueprint</button>
    </div>
</div>